@import url("theme.css");

#cards {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 300px));
  justify-content: center;
  max-width: 1100px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: var(--overlay-medium);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 260px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    var(--overlay-light),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--border-hover),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--surface);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

/* -- ↓ ↓ ↓ card info styles ↓ ↓ ↓ -- */
.card-info {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px;
  gap: 0px 10px;
}

.card-info > i {
  grid-column: 1;
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info > h3 {
  grid-column: 2;
  font-size: 1.1em;
  line-height: 20px;
}

.card-info > h4 {
  grid-column: 2;
  color: var(--text-secondary);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 936px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  #cards {
    max-width: 1100px;
    padding: 10px 0px;
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info > h3 {
    font-size: 0.9em;
  }

  .card-info > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

/* Page-specific link customizations */
#source-link,
#youtube-link {
  position: fixed;
  left: 10px;
  z-index: 100;
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: var(--accent);
}

#youtube-link {
  bottom: 10px;
}

#youtube-link > i {
  color: rgb(239, 83, 80);
}
